.font {
font-family: tahoma;
font-size: 1em;
text-align: center;
padding-top: 30px;
color:whitesmoke ;
border: 20px whitesmoke;
border-style: double;
border-top-color: #8fbc8f;
border-bottom-color:#8fbc8f;
line-height: 1.5;
}
.nav {
text-align: center;
}
.nav a {
font-family: tahoma;
font-size: 1em;
color: darkseagreen;
}
.nav a:hover {
color: whitesmoke;
}

body {
background-color:#191970;
max-width: 700px;
margin-left: auto;
margin-right: auto;

}

.about {
font-family: tahoma;
font-size: 150%;
text-align: center;
color: whitesmoke;
text-align: right;
margin-left: 300px;

}

.character {
font-family: tahoma;
font-size: 350%;
text-align: center justify;
color: lightcyan;
margin-right: 300px;

}

.styles {
font-family: tahoma;
font-size: 120%;
text-align: right;
color: whitesmoke;
}

.designer {
font-family: tahoma;
font-size: 100%;
border:4px solid darkseagreen;
margin-top: 50px;
color: lightcyan;
padding: 30px;


}

section {
margin-bottom: 60px;

}
.pic{
text-align: center;
}

.weights{
font-weight: 200;
font-weight: bold;
font-weight: 400;
font-family: tahoma;
text-align: center;

}
.tryme {
text-align: right;
}
.tryme textarea {  
border: none;   
font-size: 30px;
font-family: tahoma; 
background: #ffffff;
padding: 10px;
margin-left: auto;
}

@media only screen and (max-width: 600px) {
    body {
background-color: lightblue; }
.about{ margin-left: 0;}}
