.font {
font-family: tahoma;
font-size: 800%;
text-align: center;
padding-top: 30px;
color: darkslateblue;
border: 6px solid indigo;
}

.nav {
font-family: tahoma;
text-align: center;
font-size: 200%;
}

body {
background-color:rgb(102,204,204, 0.3);
max-width: 700px;
margin-left: auto;
margin-right: auto;

}

.about {
font-family: tahoma;
font-size: 150%;
text-align: center;
}

.character {
font-family: tahoma;
font-size: 300%;
text-align: center;

}

.styles {
font-family: tahoma;
font-size: 120%;
padding-top: 250px;
text-align: center;
}

.designer {
font-family: tahoma;
font-size: 100%;
border:4px solid indigo;
margin-top: 50px;


}

section {
margin-bottom: 60px;

}
.pic{
text-align: center;
}

.weights{
font-weight: 200;
font-weight: bold;
font-weight: 400;
font-family: tahoma;
text-align: center;
}
